@media (max-width: 1800px) {
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }

    .carousel .swiper{
        margin: 0 50px;
    }
}

@media (max-width: 1420px) {
    .about-us__text-top {
        max-width: 100%;
    }

    .celler__center {
        margin-right: auto;
        padding-right: 50px;
    }

    .send__checkbox {
        margin-top: 30px;
        display: block;
    }

    .top__item:not(:last-child) {
        margin-right: 49px;
    }

    .about-us__left {
        margin: 0 auto;
    }

    .about-us__items {
        margin-top: 40px;
    }

    .about-us__item:first-child {
        margin-bottom: 32px;
    }

    .about-us__left,
    .about-us__items,
    .about-us__item {
        max-width: 100%;
    }

    .about-us__bottom {
        display: block;
    }

    .work__left {
        max-width: 53%;
        padding-right: 52px;
    }

    .work__title {
        line-height: 24px;
    }
}

@media (max-width: 1024px) {
    .top {
        padding-bottom: 20px;
    }

    .top__link {
        margin: 0 auto;
    }

    .top__link-img {
        width: 150px;
        height: 48px;
    }

    .top__nav {
        display: none;
    }

    .btn-search {
        margin: 0;
    }

    .btn-burger {
        display: block;
    }

    .carousel {
        margin-bottom: 83px;
        max-width: 924px;
        min-height: 669px;
        padding-top: 161px;
        padding-right: 100px;
        padding-left: 77px;
        background-size: cover;
    }

    main .carousel{
        min-height: 671px;
        margin-bottom: 81px;
    }

    .carousel__title {
        top: 24%;
        left: 8.5%;
        font-size: 60px;
        line-height: 73px;
    }

    .carousel__text {
        max-width: 660px;
        top: 49%;
        left: 8.5%;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }

    .carousel-btn{
        top: 65%;
        left: 8.5%;
    }

    .about-us {
        margin-bottom: 81px;
    }

    .about-us__text-top {
        margin-bottom: 62px;
    }

    .about-us__title {
        margin-bottom: 10px;
    }

    .about-us_icon {
        margin-left: 0;
    }

    .about-us__left {
        min-height: 640px;
        margin-bottom: 32px;
    }
    .block-info {
        padding: 0 51px 0 44px;
    }
    .about-us__items {
        margin-top: 0px;
    }

    .about-us__item {
        padding: 64px 128px 0px 316px;
    }

    .work {
        margin-bottom: 80px;
    }

    .work__title {
        margin-bottom: 15px;
    }

    .work__left_info {
        margin-bottom: 23px;
        font-size: inherit;
    }

    .questions__title {
        margin-bottom: 32px;
    }

    .questions__style {
        height: 116px;
        font-size: 20px;
    }

    .questions__text {
        max-width: 740px;
    }

    .footer {
        padding-top: 50px;
    }

    .celler__left {
        margin: 0 20px 0 0;
    }

    .celler__nav {
        margin: 8px 0 0 0;
    }

    .celler__items {
        margin-top: 14px;
    }

    .celler__text,
    .celler__right {
        display: none;
    }

    .celler__center {
        margin: 0;
        padding-right: 0;
        max-width: 534px;
    }

    .input-style {
        display: inline-block;
    }

    .btn-input {
        padding: 18px 34px;
    }

    .celler__right-item:not(:last-child) {
        margin-bottom: 14px;
    }

    .send textarea {
        margin-bottom: 17px;
    }

    .send__checkbox {
        display: inline-block;
    }

    .main {
        padding-bottom: 80px;

    }
}

@media (max-width: 768px) {
    .carousel .swiper{
        margin: 0 10px;
    }

    .carousel {
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 162px;
        padding-right: 40px;
        padding-left: 40px;
        min-height: 662px;
       
    }

    .carousel__title{
        margin-bottom: 15px;
        font-size: 50px;
        line-height: 60px;
    }
    .carousel__text{
        font-size: 18px;
        line-height: 22px;
    }

    .top {
        padding-top: 7px;
        padding-bottom: 9px;
    }

    .block-info {
        padding: 0 40px 0 40px;
    }

    .about-us__item {
        min-height: 235px;
        padding: 36px 10px 20px 177px;
    }

    .about-us__left {
        min-height: 650px;
    }

    .about-us__item:first-child {
        background-position: 5% 51%;
        background-size: 120px 137px;
    }

    .about-us__item:last-child {
        background-size: 116px 148px;
        background-position: 5% 49%;
    }

    .work {
        margin-top: 60px;
    }

    .work__step {
        justify-content: space-between;
    }

    .work__step_item:not(:last-child) {
        margin-right: 0;
    }

    .work_bottom--active {
        justify-content: start;
        flex-direction: column-reverse;
    }

    .work__right-1,
    .work__right-2,
    .work__right-3,
    .work__right-4{
        min-height: 284px;
        width: 100%;
    }

    .work__left {
        margin-top: 43px;
        max-width: 100%;
        padding-right: 0;
    }

    .questions__title {
        margin-right: 5px;
        font-size: 46px;
    }

    .questions__text {
        max-width: 527px;
    }

    .celler__items {
        display: none;
    }

    .cellar {
        flex-direction: column-reverse
    }

    .celler__center {
        margin-top: 15px;
    }

    .celler__left {
        margin-top: 59px;
    }

    .celler__block {
        margin-top: 11px;
    }
}

@media (max-width: 600px) {
    .container{
        padding-right: 25px;
        padding-left: 25px;
    }

    .carousel{
        margin-right: 25px;
        margin-left: 25px;
        text-align: center;
    }
    .carousel__title{
        font-size: 40px;
    }
    .carousel-btn{
        font-size: 19px;
    }

    .about-us__left{
        justify-content: flex-end;
        background-position: top;
        background-size: contain;
        min-height: 580px;
    }

    .block-info{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        height: 100%;
        background-color: transparent;
        color: #333;
    }

    .block-info__text{
        margin-bottom: 10px;
        max-width: 100%;
    }

    .about-us-btn{
        color: #333;
    }
}

@media (max-width: 425px){

    h2{
        font-size: 40px;
    }

    .carousel {
        margin-bottom: 50px;
        padding-top: 58px;
        min-height: 450px;
    }
    .carousel__title{
        font-size: 30px;
        line-height: 40px;
    }
    .carousel__text{
        margin-bottom: 40px;
        font-size: 16px;
    }
    .carousel-btn{
        padding: 20px 30px;
        font-size: 16px;
    }

    .about-us{
        margin-bottom: 20px;
    }
    .about-us__text_top{
        margin-bottom: 40px;
    }
    .about-us__left{
        min-height: 500px;
    }

    .about-us__item{
        padding: 135px 10px 20px 0;
        border: none;
    }
    .about-us__item:first-child{
        margin-bottom: 10px;
        background-position: 4% 0;
    }
    .about-us__item:last-child{
        background-position: 4% 0;
    }
    .work{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .work__step{
        margin-bottom: 30px;
    }
    .work_title{
        margin-bottom: 20px;
    }
    .work__button-block_left{
        margin-bottom: 20px;
    }

    .questions__title{
       font-size: 40px;
    }
    .questions__text{
        padding-right: 10px;
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 320px){
    .main {
        padding-bottom: 62px;
    }

    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .top__link-img{
        width: 115px;
    }
    .carousel{
        margin-right: 15px;
        margin-left: 15px;
        min-height: 306px;
    }
    .carousel__title{
        margin-bottom: 7px;
        font-size: 20px;
        line-height: 24px;
    }
    .carousel__text{
        margin-bottom: 33px;
        font-size: 12px;
        line-height: 15px;

    }
    .carousel-btn {
        padding: 7px 25px;
        font-size: 12px;
    }
    .about-us__title{
        margin-bottom: 2px;
        font-size: 24px;
    }
    .about-us__left{
        margin-bottom: 20px;
        min-height: 402px;
    }
    .about-us__text_top{
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 28px;
    }

    .block-info__text{
        font-size: 14px;
        line-height: 28px;
    }
    .about-us-btn{
        padding: 7px 43px 27px 42px;
        height: 40px;
        font-size: 12px;
    }

    .about-us__item:first-child {
        background-position: 0 -22%;
        background-size: 63px 137px;
    }
    .about-us__item-title{
        margin-bottom: 2px;
        font-size: 18px;
        line-height: 23px;
    }
    .about-us__item{
        padding: 73px 10px 20px 0;
    }
    .about-us__item-text{
        font-size: 14px;
        line-height: 28px;
    }
    .about-us__item:last-child {
    background-position: 0% -30%;
    background-size: 63px 150px;
    }

    .work{
        margin-bottom: 59px;
    }
    .work_title{
        margin: 0;
        font-size: 24px;
    }
    .work__step_item-link{
        font-size: 14px;
    }

    .work__step {
        margin-bottom: 13px; 
    }
    .work__right_768{
        height: 160px;
    }

    .work__left{
        margin-top: 20px;
    }
    .work__title{
        margin-bottom: 12px;
        font-size: 18px;
    }
    .work__left_info{
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 28px;
    }
    .work__button-block_left{
        margin-bottom: 0;
        margin-right: 31px;
        padding: 7px 29px;
        font-size: 12px;
    }
    .work__button-block_right{
        padding: 10px 30px;
        font-size: 12px;
    }

    .questions__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 29px;
    }
    .questions__style{
        height: 122px;
        font-weight: normal;
    }
    /* .question__btn {
        min-width: 30px;
        height: 30px;
    }
    .question__btn::before {
        width: 18px;
    }
    .question__btn::after{
        height: 18px;
    } */

    .footer{
        padding-top: 18px;
    }
    .celler__center-title{
        margin-bottom: 6px;
        font-size: 24px;
    }
    .celler__center{
        margin: 0;
    }
    textarea,
    .input-style{
        font-size: 14px;
    }
    .btn-input{
        margin: 0;
        padding: 7px 28px;
        font-size: 12px;
    }
    .celler__center-block{
        text-align: center;
    }
    .send textarea{
        margin-bottom: 20px;
    }

    .send__checkbox{
        margin-top: 18px;
    }

    .celler__left{
        margin-right: 0;
        margin-top: 38px;
        text-align: center;
    }
    .celler__left-logo{
        max-height: 42px;
    }
    .celler__block-icon{
        width: 40px;
        height: 40px;
    }
    .celler__block{
        margin-top: 3px;
        justify-content: center;
    }
    .celler__block-link{
        background-size: contain;
    }
    .celler__block-icon:not(:last-child){
        margin-right: 16px;
    }
    

}