.work {
    margin-bottom: 99px;
}

.work_title {
    margin-bottom: 50px;
}

.work__step {
    display: flex;
    margin-bottom: 50px;
}

.work__step_item:not(:last-child) {
    margin-right: 86px;
}

.work__step_item-link {
    color: #333;
    background-color: #fff;
    border: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    transition: color .3s ease-in-out;
    background-color: inherit;
}

.work__step_item-link:hover {
    color: #FF9900;
}

.work__step_item-active {
    color: #FF9900;
}

.work_bottom {
    display: none;

}

/* TABS */
.work_bottom--active{
    display: flex;
    justify-content: space-between;
}

.work__title {
    margin-bottom: 6px;
}

.work__left {
    max-width: 781px;
}

.work__left_info {
    margin-bottom: 76px;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}


.work__button-block_left {
    display: inline-block;
    padding: 18px 34px;
    margin-right: 28px;
    font-weight: bold;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.work__button-block_left:hover {
    font-weight: bold;
    color: #333;
    background-color: transparent;
}

.work__button-block_right {
    display: inline-block;
    padding: 19px 37px;
    color: #333;
    font-weight: normal;
    border: 1px solid #333;
    background-color: transparent;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.work__button-block_right:hover {
    color: #fff;
    background-color: #333;
}

.work__right-1 {
    width: 870px;
    background: url("../img/pic_4.1.jpg") center/cover no-repeat;
}

.work__right-2 {
    width: 870px;
    background: url("../img/pic_4.2.jpg") center/cover no-repeat;
}
.work__right-3 {
    width: 870px;
    background: url("../img/pic_4.3.jpg") center/cover no-repeat;
}
.work__right-4 {
    width: 870px;
    background: url("../img/pic_4.4.jpg") center/cover no-repeat;
}
